<!doctype html>
<html  lang="es">
  <head>
    <title>My Angular App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <style>
          .text-diego {
            color:#125688;
          }
          .text-delfin {
            color: #ffa85a;
          }
    </style>
  </head>
  <body>
    <section class="container" ng-app="app">
        <div ng-controller="TableController as Table" >
            <div class="well text-{{ Table.name }}">{{ Table.name }}</div>
            <button ng-click="Table.enviarMensage();">enviar</button>
            <div>Cantidad de click : <strong>{{ Table.count }}</strong></div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <td>#</td>
                  <td>Nombres</td>
                  <td>Apellidos</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>juan</td>
                  <td>perez</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>@</td>
                  <td>%</td>
                  <td>*</td>
                </tr>
              </tfoot>
            </table>
        </div>
    </section>
    <script>
        (function(){
            'use strict';

            angular
                    .module('app',[])
                    .controller('TableController', TableController);

                    function TableController () {
                       var vm = this ;
                       vm.name = "diego";
                       vm.count = 0; 

                       vm.enviarMensage = function () {
                          console.log('enviado');
                          vm.name = "delfin";
                          vm.count = vm.count + 1;
                       };

                    }

        })();
    </script>
  </body>
</html>