      <h2>Directiva Tabla</h2>
      <div class="well">
          <button class="btn btn-default btn-primary" > agregar mas</button>
      </div>
      <div class="row">
          <div class="col-md-12">
            <table></table>
          </div>
      </div>
      <div class="well" ng-controller="MyController as my">
         <h1>Listado de Productos</h1>
          <ul>
            <li  ng-repeat="producto in my.productos">
              <strong>{{ producto.titulo }}</strong>  : {{ producto.precio | currency }}
            </li>
          </ul>
      </div>